
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datenbank Rollenspiel!";
    sql.Item selitem = ViewData["Item"] as sql.Item;

    if (Convert.ToBoolean(Context.Session.GetInt32("_DarkMode")))
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Layout_Alt";
    }
}
<style>
    .item {
        padding-left: 16px;
        margin-bottom: 4px;
    }

</style>
<h2>@selitem.Name (Id: @selitem.Id)</h2>

NAME: @selitem.Name
<br>
TYPE: @selitem.ItemType
<br>
COST: @selitem.Gold
<br>
POWER: @selitem.ItemPower
<br>
<a class="material-symbols-outlined" href="@Url.Action("Edit", "Database", new { @id = @selitem.Id })">edit</a>
<a class="material-symbols-outlined" href="@Url.Action("Delete", "Database", new { @id = @selitem.Id })">delete</a>
<br></br>