<!DOCTYPE html>
<html lang="en">
<head>
    @*
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Datenbank_RPG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Datenbank_RPG.styles.css" asp-append-version="true" />
    *@
</head>
<style>
    body {
        background-color: black;
        color: white;
        font-family: "Retro Computer";
    }

    .genContainer {
        align-content: center;
        text-align: center;
    }

    .selectionContainer {
        align-content: center;
        text-align: center;
        display: flex;
        margin: auto;
        width: 50%;
    }

    .title {
        text-align: center;
        font-family: 'Retro Computer';
    }

    .btn {
        color: black;
        padding: 10px;
        border-radius: 5px;
    }

    .btnContent {
        color: white;
    }

    .btn.unclick {
        color: lightgray;
    }

    .vp {
        color: lightgray;
    }

    a {
        font-family: 'Retro Computer';
        color: inherit;
        text-decoration: none;
    }

    li {
        float: left;
        color: white;
    }

    ul {
        list-style-type: none;
        align-items: center;
    }
</style>
<body>
    <div class="selectionContainer">
        <h2 class="title">Welcome to Idle Traveler!</h2>
        <br />
        <ul>
            <li class="btn"><div class="btnContent">@Html.ActionLink($"Characters", "Index", "Player")</div></li>
            <li class="btn"><div class="btnContent">|</div></li>
            <li class="btn"><div class="btnContent">@Html.ActionLink($"Enemies", "Index", "Enemies")</div></li>
            <li class="btn"><div class="btnContent">|</div></li>
            <li class="btn"><div class="btnContent">@Html.ActionLink($"Inventory", "Index", "Item")</div></li>
            <li class="btn"><div class="btnContent">|</div></li>
            <li class="btn"><div class="btnContent">@Html.ActionLink($"Items / Shop", "allitems", "Database")</div></li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2024 - Datenbank_RPG - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
