@model sql.Player

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Life)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Life)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.className)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.className)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attackDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attackDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.currentAtkDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.currentAtkDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gold)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
