@model sql.Player;
@using Datenbank_RPG.Controllers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create a Player";

}
<style>
    button {
        border-style: none;
        background-color: black;
        color: white;
        font-size: 30px;
    }

    button:hover {
        cursor: pointer;
    }

</style>


<h2 style="display: inline">Player CREATION</h2>


@using(Html.BeginForm())
{
    @Html.LabelFor(m => m.Name) <br />
    @Html.TextBoxFor(m => m.Name)
    <br>
    @Html.LabelFor(m => m.MaxLife) <br />
    @Html.TextBoxFor(m => m.MaxLife, new { type = "number" })
    <br>
    @Html.LabelFor(m => m.Defense) <br />
    @Html.TextBoxFor(m => m.Defense, new { type = "number" })
    <br>
    @Html.LabelFor(m => m.classId)
    <br>
    <select asp-for="classId" asp-items="Html.GetEnumSelectList<classID>()"></select> <br/>
    <br />
    <Input id="Submit1" type="submit" value="Create"></Input>
}