@model sql.Player;
@using Datenbank_RPG.Controllers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create a Player";

}

<h2>Player CREATION</h2>



@using(Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name) <br />
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.MaxLife) <br />
        @Html.TextBoxFor(m => m.MaxLife, new { type = "number" })
    </div>
    <div>
        @Html.LabelFor(m => m.Defense) <br />
        @Html.TextBoxFor(m => m.Defense, new { type = "number" })
    </div>
    <div>
        @Html.LabelFor(m => m.classId)
    </div>
    <select asp-for="classId" asp-items="Html.GetEnumSelectList<classID>()"></select> <br/>
    <br />
    <Input id="Submit1" type="submit" value="submit"></Input>
}