@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datenbank Rollenspiel!";
    sql.Player player = ViewData["Player"] as sql.Player;
}
<style>
    .item {
        padding-left: 16px;
        margin-bottom: 4px;
    }

</style>

<h2>PLAYER: @player.Name (Id: @player.Id)</h2>

NAME: @player.Name<br>
CLASS: @player.className (Class ID: @player.classId)<br>
MAX LIFE: @player.MaxLife<br>
DEFENSE: @player.Defense<br>
ATTACK: @player.attack<br>
ATTACK DELAY: @player.attackDelay<br>
GOLD: @player.gold<br>
<br>
<br></br>
<label class="dropDownContainer">
    <li class="dropDownSquare">@Html.ActionLink($"EDIT", "Edit", new { @id = @player.Id })</li> <br></br>
    <li class="dropDownSquare">@Html.ActionLink($"REMOVE", "Delete", new { @id = @player.Id })</li> <br></br>
</label>
<br></br>
INVENTORY: <br>
@foreach (var item in ViewData["listItems"] as List<sql.Item>)
{
    <p class="item">@item.amount @item.Name</p>
    <hr></hr>
}

ARCH NEMESIS: <br>
@foreach (var plr in ViewData["listPlayerGraveyard"] as List<(string, string, string)>)
{
    <p class="item">@plr.Item1 Has been slain by @plr.Item2 @plr.Item3 times</p>
    <hr></hr>
}

ENEMIES KILLED: <br>
@foreach (var enm in ViewData["listEnemyGraveyard"] as List<(string, string, int)>)
{
    <p class="item">@enm.Item1 Has been slain by @enm.Item2 @enm.Item3 amount of times!</p>
    <hr></hr>
}
