@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datenbank Rollenspiel!";
    sql.Player player = ViewData["Player"] as sql.Player;
}
<style>
    .item {
        padding-left: 16px;
        margin-bottom: 4px;
    }
    
    .a:hover {
        color: darkred;
    }
</style>

<h2>@player.Name (Id: @player.Id)</h2>

CLASS: @player.className (Class ID: @player.classId)<br>
LIFE: @player.Life / @player.MaxLife<br>
DEFENSE: @player.Defense<br>
ATTACK: @player.attack<br>
ATTACK DELAY: @player.attackDelay<br>
GOLD: @player.gold<br>
<br>
<a class="material-symbols-outlined" href="@Url.Action("Edit", "Player", new { @id = @player.Id })">edit</a>
<a class="material-symbols-outlined" href="@Url.Action("Delete", "Player", new { @id = @player.Id })">delete</a>
<br></br>
INVENTORY: <i class="material-symbols-outlined">personal_bag</i>
<br>
@foreach (var item in ViewData["listItems"] as List<sql.Item>)
{
    <p class="item">@item.amount @item.Name</p>
    <hr></hr>
}

ARCH NEMESIS: <i class="material-symbols-outlined">skull</i>
<br>
@foreach (var plr in ViewData["listPlayerGraveyard"] as List<(string, string, string)>)
{
    <p class="item">@plr.Item1 Has been slain by @plr.Item2 @plr.Item3 times</p>
    <hr></hr>
}

ENEMIES KILLED: <i class="material-symbols-outlined">swords</i>
<br>
@foreach (var enm in ViewData["listEnemyGraveyard"] as List<(string, string, int)>)
{
    <p class="item">@enm.Item1 Has been slain by @enm.Item2 @enm.Item3 amount of times!</p>
    <hr></hr>
}
