@model sql.search
@*

For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var listEntity = ViewData["Items"] as List<sql.Item>;
    ViewData["Title"] = "Datenbank Rollenspiel!";
}
<script src="./node_modules/rpg-awesome/css/rpg-awesome.min.css" crossorigin="anonymous"></script>
<style>
    .entryBackdrop {
        height: 200px;
        width: 200px;
        display: inline-grid;
        padding: 15px;
        margin-bottom: 5px;
        border-color: white;
        border: 5px;
        border-style: solid;
        background-color: black;
    }

    .entryContent {
        height: 50px;
    }

    .entryBackdrop:hover {
        background-color: #333333;
    }

    .container {
        align-items: center;
        text-align: center;
    }

    @@media only screen and (max-width: 1220px) {
        /* For mobile phones: */
        .entryBackdrop {
            width: 70vw;
            height: 30vh;
        }
    }

</style>

<div class="container">
    @using (Html.BeginForm())
    {
        <div>
            Search
            @Html.TextBoxFor(m => m.searchTerm)
        </div>
        <br>
        <Input id="Submit1" type="submit" value="submit"></Input>
        <br>

        <br>
    }
    @if (sql.cmds.search != "")
    {
        <div>you searched for: @sql.cmds.search</div>
    }
    <div>&nbsp;</div>
    @if (listEntity.Count == 0)
    {
        <div>Your search resulted in nothing</div>
        <div style="font-size:64px; color:#333338">(;-;)</div>
        <br>
    }
    @foreach (var item in listEntity)
    {
        <a class="entryBackdrop" href="@Url.Action("ShowItem", "Item", new { @id = item.Id })">
            <div class="entryContent">
                @item.amount x
                @item.Name
            </div>
            <div class="entryContent" style="position: relative">
                <p style="display: flex; align-items: flex-end; align-content: center;">
                    <div>
                        @item.ItemType
                        <br>
                        Strength: @item.ItemPower
                        <br>
                        Price: @item.Gold
                    </div>
                </p>
            </div>
        </a>
    }



</div>



